<!DOCTYPE html>
<html>
    <head>
        <title>My Book Review Site</title>
      
        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
      </head>

       <style>
         .watermark{
       
          opacity: 0.5;
          color: rgb(250, 249, 249);
          position: absolute;
         
          left: 80%;
         }
         
       </style>
       
    <body>
      <section class="hero">
        <div class="hero-inner">
            <h1>Welcome to Book Club </h1>
            <h2>Please click Enter to login</h2>
            <a href="{{ url_for('login') }}"class="btn">Enter</a>
            <div class="watermark">
              <span>Photo by Min An from Pexels</span>
              
            </div>
        </div>
    </section>
   
    </body>
</html>